/* -------------------------------------------------- ESTILO GERAL --------------------------------------------------*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* FONTE PADRÃO DE TODAS AS LETRAS DA PÁGINAS */
}

body{
    background-color: #072763;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.logo img{                      /*DEFINE OS TAMANHOS PARA A FOTO QUE FICARÁ NA NAV*/
    max-width: 110px;
    max-height: 110px;
    margin-bottom: -8%;
    margin-top: -8%;
}

/* -------------------------------------------------- ESTILO NAV --------------------------------------------------*/


header{
    padding: 20px 4%; /* ESPAÇAMENTO INTERNO DOS ITENS DA NAVBAR */
    box-shadow: 0 0 20px 5px #ffffff88;  /* SOMBRA BRANCA NA "SEÇÃO" DA NAVBAR */
    background: linear-gradient(135deg,rgba(7, 39, 99, 0.9), rgba(28, 88, 168,0.9), rgba(16, 116, 188,0.9));
}


header .interface{
    display: flex;
    align-items: center; /* Alinha os itens ao centro (cima e baixo) */
    justify-content: space-between; /* ESPAÇAMENTO DOS ITENS DE FORMA IGUAL NA SECTION DA NAV */
}

header a{
    color: #fff; /* COR DOS LINKS DA NAVBAR (INICIO, SERVIÇOS, SOBRE, CONTATOS) */
    text-decoration: none; /* TIRAR SUBLINHADO DOS LINKS*/
    display: inline-block; /* NECESSÁRIO PARA USAR O TRANSFORM */
    transition: .2s;
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
    font-weight: 600;
}

header nav.menu-desktop a:hover{  /* HOVER DOS LINKS DA NAVBAR */
    color: #1c58a8; /* TRANSFORMA PARA ESSA COR */
    transform: scale(1.07); /* CRESCE UM POUQUINHO A LETRA OA PASSAR O CURSOR */
     text-shadow:
    0 0 15px #fff, /* ESFUMAÇADO ATRÁS DA PALAVRA */
    0 0 0px #fff; /* BRILHO DA LETRA */
    background-color: #fff;
}

header nav ul{
    list-style-type: none; /* TIRA AS "BOLINHAS" DE LISTAGEM DOS LINKS DA NAVBAR */
}

header nav.menu-desktop ul li{
    display: inline-block; /* SAI DE VERTICAL PARA HORIZONTAL A ORDEM DOS LINKS */
    padding: 0 35px; /* ESPAÇAMENTO INTERNO DE CIMA E BAIXO É 0 E ENTRE OS LINKS É 35 */
}

.btn-orçamento button{
    padding: 10px; /* ESPAÇAMENTO INTERNO DA ÁREA DE CLIQUE DO BOTÃO */
    font-size: 18px; /* TAMANHO */
    font-weight: 600; /* NEGRITO */
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(255,255,255) 40%, rgb(148, 210, 255)80%, rgb(16, 116, 188)100%);
    color: #1c58a8;
    border: 0; /* TIRA AS LINHAS DE BORDA DO BOTÃO */
    border-radius: 10px; /* DEIXA OS CANTOS PONTIAGUDOS ARREDONDADOS*/
    cursor: pointer;
}

.btn-orçamento button:hover{
    transform: scale(1.06);
    transition-duration: .2s;
    color: rgb(16, 116, 188);
    text-shadow: 0 0 1px #fff;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}


/* -------------------------------------------------- ESTILO TOPO --------------------------------------------------*/

section.topo{
    padding: 120px 5%; /* ESPAÇAMENTO ITNERNO DA SESSÃO */
    position: relative;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)),
    url(assets/escritorio.jpg); /* CAMINHO DA IMG */

    background-size: cover; /* COBRE TODA A SESSÃO */
    background-position: center; /* CENTRALIZA A IMAGEM DO BACKGROUND */
    background-repeat: no-repeat; /*CASO A IMG FIQUE MUITO PEQUENA PRA SESS~~AO, NÃO REPETE ELA */
}


section.topo::before{ /* BEFORE ADICIONADO PARA CONFIGURAÇÕES DA IMAGEM DE FUNDO */
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0, 0.445); /* AJUSTA A OPACIDADE AQUI*/ 
    z-index: 0; 
} 

 

section.topo .interface{
     position: relative;
     z-index: 1;}


.topo h1{
    color: #fff; /* COR DA FRASE DE IMPACTO */
    font-size: 50px; /* TAMANHO DO TEXTO */
    line-height: 45px; /* ESPAÇAMENTO ENTRE LINHAS */
    max-width: 500px;
}

.topo .txt-topo h1 span, .topo .txt-topo p span{
    text-shadow:
    0 0 20px #fff, /* ESFUMAÇADO ATRÁS DA PALAVRA */
    0 0 1px #fff; /* BRILHO DA LETRA */
}

.topo .txt-topo{
    margin-right: auto;
    flex-grow: 1; /* PERMITE CRESCER SE NECESSÁRIO */
    max-width: 500px; /* MÁXIMO QUE O TEXTO PODE OCUPAR*/
}

.topo .txt-topo p{
    color: #fff; /* COR DA DESCRIÇÃO DA FRASE DE IMPACTO */
    text-align: justify;
    /* margin-right: 10rem; */
    font-size: 20px; /* TAMANHO */
    max-width: 500px;
    margin-top: 3%;
}

.topo .txt-topo .btn-orçamento button{
    margin-top: 3%;
}

.topo .img-topo img{
    flex-shrink: 0; /* FAZ COM QUE A IMAGEM NÃO ESCOLHA*/
    max-width: 300px; /* LIMITA A LARGURA DA IMAGEM */
    max-height: 300px; /* LIMITA  A ALTURA DA IMAGEM */
    position: relative;
    margin-right: 5rem; 
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}


/* -------------------------------------------------- ESTILO SERVIÇOS --------------------------------------------------*/

section.servicos{
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* ALTURA MÍNIMA */
    /*background: linear-gradient(to top left, #1074bc, #072763);*/
    background: linear-gradient(to top left, #fff,#94d2ff, #1074bc); /* COR DO GRADIENTE DA PAGINA */
}


.card-list .card-item {
    list-style: none; /* TIRA AS BOLINHAS DE LISTAGEM */
}

.card-list .card-item .card-link{ /* CARDS NO GERAL */
    user-select: none;
    display: block; /* EFEITO PARA A IMAGEM SE ENCAIXAR */
    background: #fff; /* COR DO FUNDO DO CARD */
    padding: 18px; /* ESPAÇAMENTO INTERNO DO CARD */
    border-radius: 12px; /* DEIXA AS BORDAS EM CURVAS */
    text-decoration: none; /* REMOVE O ASPECTO SUBLINHADO DE LINK*/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); /* SOMBRA DOS CARDS PRA DAR UM EFEITO */
    margin-top: 5%; /* ESPAÇO PARA CIMA DO CARD */
    margin-bottom: 5%; /* ESPAÇO PARA BAIXO DO CARD */
    border: 2px solid transparent; /* EFEITO PRA APLICAR O HOVER DE BORDA */
    transition: 0.2s ease; /* TEMPO DE TRANSIÇÃO */
}

.card-list .card-item .card-link:hover{ /* COR DA BORDA DO CARD AO PASSAR O CURSOR POR CIMA */
    border-color: #072763;
}

.card-list .card-item .card-link:active{ /* STATUS DO CURSOR AO PUXAR OS CARDS PARA O LADO */
    cursor: grabbing;
}

.card-list .card-link .card-image{ /* IMAGEM DO CARD */
    width: 100%; /* TAMANHO DA IMAGEM NO CARD*/
    aspect-ratio: 16 / 9; /* PROPORÇÃO DA IMAGEM NO CARD */
    object-fit: cover; /* A IMAGEM OCUPA O ESPAÇO DE FORMA PROPORCIONAL */
    border-radius: 10px; /* DEIXAR AS BORDASS DA FOTO EM CURVA*/
}

.card-list .card-link .badge{ /* NOME DO SERVIÇO */
    color: #072763; /* COR DO NOME DO SERVIÇO*/
    padding: 8px 16px; /* ESPAÇAMENTO INTERNO DE ONDE O BACKGROUND DO NOME OCUPA*/
    font-size: 0.95rem; /* TAMANHO DO NOME DO SERVIÇO */
    font-weight: 500; /* NEGRITO DO NOME DO SERVIÇO */
    margin: 16px 0 18px; /* MARGENS DE CIMA E BAIXO DO NOME DO SERVIÇO */
    background: #dde4ff81; /* COR DO BACKGROUND DO NOME DO SERVIÇO*/
    width: fit-content; /* LARGURA DO NOME E DO BACKGROUND VAI SOMENTE ATÉ ONDE TEM CONTEÚDO (LETRAS) DO NOME */
    border-radius: 50px; /* CURVATURA DAS EXTREMIDADES DO BACKGROUND DOS NOMES DO SERVIÇOS */
}


.card-list .card-link .card-title{ /* DESCRIÇÃO */
    font-size: 0.7rem; /* TAMANHO DA DESCRIÇÃO */
    color: #000; /* COR DA DESCRIÇÃO */
    font-weight: 500; /* NEGRITO DA DESCRIÇÃO */
    flex-grow: 1; /* O ITEM CRESCE PARA OUCPAR O ESPAÇO RESTANTE DO CONTAINER */
    max-height: 100px; /* ALTURA MÁXIMA */
    overflow-y: auto; /* CASO PASSE DA ALTURA MÁXIMA, APLICA UM SCROLL*/
    padding-right: 10px; /* ESPAÇAMENTO INTERNO DO TEXTO PARA COM O SCROLL */
}

.card-list .card-link .card-button{ /* SETA DO CARD */
    height: 35px; /* ALTURA */
    width: 35px; /* LARGURA */
    color: #072763; /* COR DA SETA */
    border-radius: 50%; /* DEIXA CIRCULAR */
    margin: 30px 0 5px; /* ESPAÇAMENTO DA SETA PARA COM A DESCRIÇÃO */
    background: none; /* REFORÇA QUE A FIGURA NÃO TENHA NADA NO FUNDO */
    cursor: pointer; /* FORMATO DO CURSOR AO PASSAR POR CIMA DA SETA / BOTÃO DA SETA */
    border: 2px solid #072763; /* BORDA E FIGURA DA SETA */
    transform: rotate(-45deg); /* DIREÇÃO DA SETA */
    transition: 0.4s ease; /* FORMATO DE TRANSIÇÃO PARA O HOVER DA BORDA */
}

.card-list .card-link:hover .card-button{ /* HOVER DO BOTÃO */
    color: #fff;
    background: #072763;
}

.card-wrapper{ /* ESTRUTURA DE CONVERSA COM SWAPPER */
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-wrapper .swiper-pagination-bullet{ /* ESTRUTURA DE CONVERSA COM SWAPPER */
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #072763;
}

.card-wrapper .swiper-pagination-bullet-active{ /* ESTRUTURA DE CONVERSA COM SWAPPER */
    opacity: 1;
}

.card-wrapper .swiper-slide-button{ /* ESTRUTURA DE CONVERSA COM SWAPPER */
    color: #072763; /*COR DOS BOTÕES QUE ESTÃO PASSANDO O SLIDE */
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
}